QMessageBox {
    background-color: #3d3d3d;
    font-size: 26px;
    font-family: "Comic Sans MS";
}

QPushButton {
    width: 90px;
    height: 60px;
    border-radius: 20px;
    border: 3px solid rgb(12, 0, 0);
    font-size: 26px;
    color: white;
    font-family: "Comic Sans MS";
}

QPushButton:hover {
        border: 4px solid gray;
        color: black;
}

QPushButton#Gradient_1 {
    background: rgba(254, 105, 193, 100);
}
QPushButton#Gradient_1:pressed {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #BEBEBE, stop: 1 #D7D7D7);
}

QPushButton#Gradient_2 {
    background: rgba(225, 92, 189, 100);
}
QPushButton#Gradient_2:pressed {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #BEBEBE, stop: 1 #D7D7D7);
}

QPushButton#Gradient_3 {
    background: rgba(210, 73, 182, 110);
}
QPushButton#Gradient_3:pressed {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #BEBEBE, stop: 1 #D7D7D7);
}

QPushButton#Gradient_4 {
    background: rgba(175, 48, 173, 110);
}
QPushButton#Gradient_4:pressed {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #BEBEBE, stop: 1 #D7D7D7);
}

QPushButton#Gradient_5 {
    background: rgba(139, 23, 167, 110);
}
QPushButton#Gradient_5:pressed {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #BEBEBE, stop: 1 #D7D7D7);
}

QPushButton#Gradient_6 {
    background: rgba(103, 10, 166, 110);
}
QPushButton#Gradient_6:pressed {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #BEBEBE, stop: 1 #D7D7D7);
}

QPushButton#Gradient_7 {
    background: rgba(90, 16, 180, 110);
}
QPushButton#Gradient_7:pressed {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #BEBEBE, stop: 1 #D7D7D7);
}

QPushButton#Gradient_8 {
    background:  rgba(80, 16, 183, 110);
}
QPushButton#Gradient_8:pressed {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #BEBEBE, stop: 1 #D7D7D7);
}

QPushButton#Gradient_9 {
    background: rgba(70, 12, 190, 110);
}
QPushButton#Gradient_9:pressed {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #BEBEBE, stop: 1 #D7D7D7);
}

QPushButton#Gradient_10 {
    background: rgba(60, 10, 200, 100);
}
QPushButton#Gradient_10:pressed {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #BEBEBE, stop: 1 #D7D7D7);
}

QPushButton#Gradient_11 {
    background:  rgba(50, 10, 210, 100);
}
QPushButton#Gradient_11:pressed {
    background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #BEBEBE, stop: 1 #D7D7D7);
}

QTextEdit {
    background-color: black;
    color: white;
    font-size: 23px;
    border-radius: 10px;
    font-family: "Comic Sans MS";
}

QProgressBar {
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    font-family: "Comic Sans MS";
}
QProgressBar::chunk {
    background-color: rgba(210, 73, 182, 110);
    width: 20px;
}

QLabel#Label {
    border: 2px solid black;
    background-color: rgba(90, 16, 180, 110);
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-family: "Comic Sans MS";
}

QLabel#LabelFormule {
    width: 30px;
    height: 100px;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 23px;
    font-family: "Comic Sans MS";
    margin-left: 3px;
}

QWidget#centralwidget {
    background-color: #3d3d3d;
}
